<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>

${set_locale(lang)}

<!DOCTYPE html>
<html \
  prefix='og: http://ogp.me/ns# article: http://ogp.me/ns/article#\
    %if comment_system == 'facebook':
      fb: http://ogp.me/ns/fb# \
    %endif
' \
  vocab="http://ogp.me/ns" \
  % if is_rtl:
    dir="rtl" \
  % endif
\
  lang="${lang}">

<head>
  ${base.html_headstart()}

  <%block name="extra_head"></%block>
  ${template_hooks['extra_head']()}
</head>

% if post and post.meta('type') != 'text':
  <body class="${post.meta('type')}">
% else:
  <body>
% endif
  <a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

  ${header.html_header()}

  <%block name="content"></%block>

  ${footer.html_footer()}

  ${base.late_load_js()}
  % if date_fanciness != 0:
    <script>
      moment.locale("${momentjs_locales[lang]}");
      fancydates(${date_fanciness}, ${js_date_format});
    </script>
  % endif

  <%block name="extra_js"></%block>

  ${body_end}
  ${template_hooks['body_end']()}
</body>

</html>
