<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%inherit file="post.tmpl"/>

<%block name="content">
  <main id="content">
    ${pheader.html_translations(post)}

    <h1>${post.title()}</h1>
    ${post.text()}

    % for course in post.meta('courses'):
      <article class="card">
        <header>
          <h3>${course['title']}</h3>
        </header>
        <p>${course['description']}</p>
        <footer>
          <a href="${course['link']}" class="pseudo button">${messages("Catalog page", lang)}</a>
          % if 'slides' in course:
            <a href="${course['slides']}" class="pseudo button">${messages("Slides", lang)}</a>
          % endif
        </footer>
      </article>
    % endfor

    %if site_has_comments and enable_comments and not post.meta('nocomments'):
      <section class="comments">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
      </section>
    %endif
  </main>

  ${math.math_scripts_ifpost(post)}
</%block>
