@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin-ext");


/* VARIABLES */

// Theme variables
$silver: hsl(0, 0%, 87%);
$picnic-primary: $silver;
$picnic-separation: 0.6rem;

// Generic plugin variables
$family-sans: 'Libre Franklin', 'Helvetica', 'Arial', sans-serif;

// Extra plugin variables
$nav-background-color: $picnic-primary;
$picnic-nav-height: 4em;
$picnic-card-radius: 0.5rem;


/* PICNIC CSS IMPORTS */

// Imports the base variable styles
@import './picnic-6.5.2/src/themes/default/theme';

@import './picnic-6.5.2/src/vendor/compass-breakpoint/stylesheets/breakpoint';

// Normalize.css (external library)
@import './picnic-6.5.2/src/plugins/normalize/plugin';

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@import './plugins/generic/plugin';
// @import './picnic-6.5.2/src/plugins/fontello/plugin';

// Simple elements
@import './picnic-6.5.2/src/plugins/label/plugin';
@import './picnic-6.5.2/src/plugins/button/plugin';

// Forms
// @import './picnic-6.5.2/src/plugins/input/plugin';
// @import './picnic-6.5.2/src/plugins/select/plugin';
// @import './picnic-6.5.2/src/plugins/radio/plugin';
// @import './picnic-6.5.2/src/plugins/checkbox/plugin';

// Components
@import './picnic-6.5.2/src/plugins/table/plugin';
@import './picnic-6.5.2/src/plugins/grid/plugin';

// Extra
@import './plugins/nav/plugin';

// @import './picnic-6.5.2/src/plugins/stack/plugin';
@import './picnic-6.5.2/src/plugins/card/plugin';
// @import './picnic-6.5.2/src/plugins/modal/plugin';

// @import './picnic-6.5.2/src/plugins/dropimage/plugin';
// @import './picnic-6.5.2/src/plugins/tabs/plugin';
// @import './picnic-6.5.2/src/plugins/tooltip/plugin';


/* PICNIC CSS OVERRIDES */

body {
  min-height: 100vh;
}

main {
  max-width: 45em;
  margin: $picnic-nav-height auto 0 auto;
  padding: $picnic-separation;
}

body > footer {
  background-color: $picnic-primary;
  padding: $picnic-separation;
}

body > header > nav li {
  display: inline-block;
}

body > header > nav a {
  text-transform: lowercase;
}

dt:not(:first-child) {
  margin-top: $picnic-separation;
}

a.pseudo.button {
  border: 1px solid $picnic-black;
}

.card {
  margin-top: 2 * $picnic-separation;
}

.card header {
  background-color: $silver;
}

.card h3 {
  font-size: 1em;
}


/* SITE OVERRIDES */

body.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.landing main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.posttranslations {
  width: 100%;
  font-size: 0.75em;
  text-align: right;
  text-transform: lowercase;
}

h3.posttranslations-intro {
  display: none;
}
